/.idea
/target
/twitter-java/target
/twitter-java/.idea
/twitter-java/twitter-java.iml
/classifier-py/.idea
/classifier-py/clustering/*.pyc
/twitter-java/filters
/twitter-java/*.iml
/web/tools/.idea
/web/tools/config.php
