#status {
    display: none;
    visibility: visible;
    position: fixed;
    top: 0;
    right: 20px;
    z-index: 100;
    background-color: red;
    padding: 0 10px 0 10px;
}

.external {
    width: 100%;
    word-wrap: break-word;
    overflow: auto;
}