* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body { 
	font-family: sans-serif; 
	margin:0px;
    background:#fff;
}

.title{
	font-size: 1.8em;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
}

#refresh{
	padding-top: 9px;
	padding-left: 9px;
	cursor: pointer;
}

.header-cont {
	width:100%;
	position:fixed;
	top:0px;
	height: 50px;
	background: #99CCFF;
	z-index: 100;
}

#content{
	margin-top: 55px;
}

.masonry {
  /*background: #EEE;*/
  /*max-width: 1640px;*/
  margin: 5px;
}

/* clearfix */
.masonry:after {
  content: '';
  display: block;
  clear: both;
}

.masonry .item {
  width:  60px;
  /*height: 60px;*/
  /*float: left;*/
  /*background: #D26;*/
  margin-bottom: 5px;
  /*margin-left: 0px;*/
  padding: 5px;
  border: 1px solid #F0F0F0;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.share{
	/*margin-bottom: 10px;*/
}

.share {
	float: right;
}

.message{
	padding: 5px;
}

.item.w2 { width:  120px; }
.item.w3 { width:  180px; }

.img{
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 10px;
}
.img.w2 { width:  115px; }
.img.w3 { width:  175px; }


@media (min-width: 640px){
	/*.grid-sizer {width: 15%;} */
	.item.w4 {  width:  15.0%;  /*240px;*/ }
	.img.w4 { width:  95%; /*225px;*/ }
}

@media (max-width: 640px) {
    .item.w4 { width:  100%; }
	.img.w4 { width:  95%; }
}

.item .img:hover, .item .message:hover, .share {
  /*background: #A2C;*/
  border-color: white;
  cursor: pointer;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #777;
  border-radius: 10px;
}


