<cruisecontrol>
	<project name="twitter-opinions-classifier-web">
		<listeners>
			<currentbuildstatuslistener file="logs/${project.name}/status.txt"/>
		</listeners>

		<bootstrappers>
			<gitbootstrapper localWorkingCopy="/home/ec2-user/projects/opinions-classifier" />			
		</bootstrappers>

		<modificationset quietperiod="0">
			<compound>
				<triggers>
					<git localWorkingCopy="/var/www/html/opinions-classifier"/>
				</triggers>	
				<targets>
					<filesystem folder="/var/www/html/opinions-classifier/web"/>
				</targets>
			</compound>	
		</modificationset>
		
		<schedule interval="30">
			<exec command="echo" />
		</schedule>

		<log>
			<merge dir="projects/${project.name}/target/test-results"/>
		</log>
	</project>
	
	<project name="twitter-opinions-classifier">
		<listeners>
			<currentbuildstatuslistener file="logs/${project.name}/status.txt"/>
		</listeners>

		<bootstrappers>
			<gitbootstrapper localWorkingCopy="/home/ec2-user/projects/opinions-classifier" />			
		</bootstrappers>

		<modificationset quietperiod="0">
			<compound>
				<triggers>
					<git localWorkingCopy="/home/ec2-user/projects/opinions-classifier"/>
				</triggers>	
				<targets>
					<filesystem folder="/home/ec2-user/projects/opinions-classifier/twitter-java"/>
				</targets>
			</compound>	
		</modificationset>
		
		<schedule interval="30">
			<composite>
				<exec command="/home/ec2-user/projects/opinions-classifier/twitter-java/stop.bash" />
				<maven2 mvnhome="/home/ec2-user/apache-maven-3.2.3" pomfile="/home/ec2-user/projects/opinions-classifier/twitter-java/pom.xml" goal="clean install dependency:copy-dependencies" activateprofiles="credentials"/>
				<exec command="/home/ec2-user/projects/opinions-classifier/twitter-java/start.bash" workingdir="/home/ec2-user/projects/opinions-classifier/twitter-java"/>
			</composite>
		</schedule>

		<log>
			<merge dir="projects/${project.name}/target/test-results"/>
		</log>
	</project>
</cruisecontrol>
